body {
    background-color: #ebebeb;
}

body > * {
    flex: 1 100%;
}

header {
    width: 100%;
    margin-bottom: 20px;
    background-color: darkgray;
}

#logo {
    width: 30%;
}

#main {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
}

.room{
    margin: 5px;
    flex-basis: calc((100% / 3) - 10px);
    min-width: 400px;
    max-width: calc((100% / 3) - 10px);
}

.tile {
    margin-bottom: 5px;
}

table {
    border: solid 1px;
    border-collapse: collapse;
}
table td {
    border: solid 1px;
}

table th {
    border: solid 1px;
}

@media all and (max-width: 850px){
    .room {
        margin: 5px;
        min-width: calc(100% - 5px);
        max-width: calc(100% - 5px);
        flex-basis: calc(100% - 5px);
    }
}