body {
    background-color: #ebebeb;
    font-family: Arial Narrow;
}

body > * {
    flex: 1 100%;
}

header {
    width: 100%;
    margin-bottom: 20px;
    background-color: darkgray;
}


#main {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
}

.room{
    margin: 5px;
    min-width: 350px;
    max-width: calc(100% / 4 - 10px);
    flex-basis: calc(100% / 4 - 10px);
}

.tile {
    margin-bottom: 5px;
}

table {
    min-width: 100%;
    border: solid 1px;
    border-collapse: collapse;
}
table td {
    padding: 5px;
    border: solid 1px;
}

table th {
    border: solid 1px;
}

.pause {
    border: solid 1px;
    margin: 0;
    padding: 5px;
}

@media all and (max-width: 1472px){
    .room {
        max-width: calc(100% / 3 - 10px);
        flex-basis: calc(100% / 3 - 10px);
    }
}

@media all and (max-width: 1112px){
    .room {
        max-width: calc(100% / 2 - 10px);
        flex-basis: calc(100% / 2 - 10px);
    }
}

@media all and (max-width: 752px){
    .room {
        margin:0;
        min-width: 100%;
    }
}

.nav {
    overflow: hidden;
}
.nav ul {

    text-align: left;
    padding: 0;
    margin: 0;
}
.nav li {
    text-align: left;
}

.nav a {
    background-color: darkgray;
    text-decoration: none;
    color: black;
    display: block;
    padding-left: 15px;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: gray;
}
.nav a.active {
    background-color: #aaa;
    color: #444;
    cursor: default;
}

/* Sub Menus */
.nav li li {
    font-size: .8em;
}
.nav img {
    max-width: 300px;
    margin-bottom: -16px;
}
.nav li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1em;
    display: inline-block;
    margin-right: -4px;
}

.nav a {
    border-bottom: none;
}

.nav > ul > li {
    text-align: center;
    margin-right: 5px;
}

.nav > ul > li > a {
    padding-left: 0;
}

/* Sub Menus */
.nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}

.nav li:hover ul {
    display: block;
}

.nav li ul li {
    display: block;
}