.room {
    margin: 5px;
    min-width: 350px;
    max-width: calc(100% / 7 - 10px);
    flex-basis: calc(100% / 7 - 10px);
}

@media all and (min-width: 3000px){
    body{
        font-size: 1.4em;
    }

    .social-media {
        display: block;
        min-width: 350px;
        margin: 5px;
        max-width: calc(100% / 8 - 10px);
        flex-basis: calc(100% / 8 - 10px);
    }

    .mediaHeader {
        background-color: darkgray;
        margin: 0;
    }


    .room {
        max-width: calc(100% / 8 - 10px);
        flex-basis: calc(100% / 8 - 10px);
    }

    .footer{
        position: fixed;
    }
}

@media all and (max-width: 2552px){
    .room {
        max-width: calc(100% / 6 - 10px);
        flex-basis: calc(100% / 6 - 10px);
    }
}

@media all and (max-width: 2192px){
    .room {
        max-width: calc(100% / 5 - 10px);
        flex-basis: calc(100% / 5 - 10px);
    }
}

@media all and (max-width: 1832px){
    .room {
        max-width: calc(100% / 4 - 10px);
        flex-basis: calc(100% / 4 - 10px);
    }
}

@media all and (max-width: 1472px){
    .room {
        max-width: calc(100% / 3 - 10px);
        flex-basis: calc(100% / 3 - 10px);
    }
}

@media all and (max-width: 1112px){
    .room {
        max-width: calc(100% / 2 - 10px);
        flex-basis: calc(100% / 2 - 10px);
    }
}

@media all and (max-width: 752px){
    .room {
        margin:0;
        min-width: 100%;
    }
    .infos {
        margin: 5px 0 20px;
    }
}